.builder-content {
    font-family: monospace;
    overflow: scroll !important;
    height: 150px;
    font-size: 18px;
    padding: 0px 20px;
    white-space: pre;
}

.command {
    font-size: 1.6em;
    padding: 10px 20px 4px 20px;
    margin-bottom: 20px;
    border-bottom: 4px groove hsla(0, 0%, 0%, 0.2);
}

.command .text {
    font-weight: bold;
}

.command .text:before {
    content: '$ ';
}

.command .status {
    font-style: "LXGW WenKai";
    font-weight: bold;
    font-size: 20px;
    height: 20px;
    color: hsl(0, 0%, 47%);
    white-space: nowrap;
}

.command input.status {
    border: none;
    font-size: 18px;
    height: 30px;
    margin-bottom: 2px;
}

.command .status b {
    color: hsl(0, 0%, 35%);
    font-weight: bold;
}